.workout-view__container {
  max-width: 40rem;
  background: #f4f4f4;
  margin: 0 auto;       /* keeps horizontal centering */
  /* padding: 16px; */
  padding-bottom: 2rem;
  /* optional: ensure it starts at top */
  margin-top: 0;
}

/* Header bar */
.workout-view__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 12px 16px;
  padding-top: 2rem;
  border-radius: 8px;
}

/* Title text */
.workout-view__title {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

/* Icon inside the button */
.workout-view__add-icon {
  font-size: 20px;
  line-height: 1;
}

/* Planned Workout */
.workout-view__planned-workout-header {
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  color: #2a9d8f;
  user-select: none;
}

.workout-view__planned-workout-header span {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s, transform 0.2s;
}

.workout-view__planned-workout-header span:hover {
  color: #21867a;
  transform: translateY(-1px);
}

.workout-view__planned-workout-header span.active {
  color: #e76f51; /* highlight color */
  font-weight: 700;
}
